body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #444;
}

label {
    display: inline-block;
    margin-top: 10px;
}

input, textarea, button {
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px; /* Arredonda as bordas dos inputs e do textarea */
}

textarea {
    height: 100px;
}

button {
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 4px; /* Arredonda as bordas do botão */
}

button:hover {
    background-color: #4cae4c;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px; /* Arredonda as bordas dos itens da lista */
}
